<head>
<script src="https://www.desmos.com/api/v0.7/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
<link rel="icon" href="https://cdn3.iconfinder.com/data/icons/databases-2/512/function-512.png">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<title>MATHIFY</title>
</head>


<div class='container' style="padding-top:100px;">
	<div class='row'>
		<div class='col-md-6 col-md-offset-2' style='text-align:center;'>
			<h2 style="position:relative;left:92px;">{{text}}</h2>
			<div id="calculator" style="width: 800px; height: 400px;"></div>
			<script>
			  var elt = document.getElementById('calculator');
			  var calculator = Desmos.Calculator(elt, {expressions: false, settingsMenu: false, zoomButtons: true, border: true});
				calculator.setMathBounds({left: -10, right: 3600, bottom: -10, top: 1800});
				{% for l in letters %}
					{% for c in l %}
						calculator.setExpression({latex:"{{c}}", color:"#000000"})
					{% endfor %}
				{% endfor %}
				calculator.setExpression({id:'graph1', latex:"\\left(\\left(x_1\\left(1-t\\right)^3+3x_2\\left(1-t\\right)^2t+3x_3\\left(1-t\\right)t^2+x_4t^3\\right),\\ y_1\\left(1-t\\right)^3+3y_2\\left(1-t\\right)^2t+3y_3\\left(1-t\\right)t^2+y_4t^3\\right)", color:"#000000"})
			</script>
			<!--https://www.desmos.com/api/v0.7/docs/index.html#document-quickstart -->
			<!--iframe src="https://www.desmos.com/calculator" height="600" width="800" style="border:none;"> </iframe>-->
		</div>
	</div>
</div>

<!--

y = \sum_{i=0}^n
{n \choose i}
f\big(\frac{i}{n}\big)
x^i(1-x)^{n-i}\\

-->
