<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>


<div class='container' style="padding-top:100px;">
	<div class='row'>
		<div class='col-md-6 col-md-offset-2' style='text-align:center;'>
			<h2 style="position:relative;left:92px;">{{text}}</h2>

			<iframe src="https://www.desmos.com/calculator" height="600" width="800" style="border:none;"> </iframe>
		</div>
	</div>
</div>